*~
.DS_Store
*.sqlite3
__pycache__

.environ
/proj/environ/
config/configuration.yml
media/upload/
media/
*.log
uwsgi.*
deploy/hosts.html
celerybeat-schedule
__pycache__/
*.egg-info
*.pyc
.DS_Store
.idea
